.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
.DS_Store
/captures
.externalNativeBuild
.cxx
.gradle/
/build/
/local.properties
secret.properties
backend/.gradle/
backend/app/
backend/build/
backend/bin/
backend/out/
backend/local.properties
backend/secret.properties
!gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.jar
bin/
*.log
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
